:root {
    --primary: #F4B350;
    --animate-delay: 2s;
}
/* :root {
    --animate-delay: 2s;
  } */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: "Rubik", sans-serif;
}
.mt-150 {
    margin-top: 150px !important;
}

@media only screen and (max-width: 768px) {
    .mt-150 {
        margin-top: 50px !important;
    }
}

.pt-100 {
    padding-top: 100px !important;
}

p{
    font-size: 15px;
    color: #999999;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 10px;
}
img {
    max-width: 100%;
}

.text-primary {
    color: var(--primary) !important;
}

/* header section */

.navbar-section {
    background-color: #000 !important;
    color: #999999;
    height: auto;
    
}

.navbar-toggler-icon {
    color: #fff;
}

.nav-link {
    padding: 0.5rem 3rem;
    color: white!important;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
}
.nav-link:hover {
    color: var(--primary) !important;
}

.nav-link.active {
    color: var(--primary) !important;
}
  /* discover section */
.hr {
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--primary);

}

/* Restorans section */
.text-color {
    color: var(--primary);
}

/* todays spection section */

.todays-special-section {
    background-color: #333333;
}

.todays-special-section h1 {
    color: #fff;
}

.todays-special-section img {
    height: 280px;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .todays-special-section img {
        height: 400px;
    }
    .todays-special-section .card {
        height: 400px;
    }
}
.todays-special-section .card {
    max-width: 100%;
    height: 280px;
    border-radius: 0;
}
.todays-special-section .card span {
    color: var(--primary);
}
.card:hover {
    background-color: var(--primary);
}
.card:hover span {
    color: #fff;
}

.card:hover .text-dark {
    color: #000;
}

/* our menu section starts here */

.menu-btn {
    background-color: var(--primary);
    border: none;
    color: #fff;
}
.lunch-btn {
    border: none !important;

}
.menu-item-card {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 15px;
}
/* reservation section starts here */

.reservation-section {
    background: url(../images/ban4.jpg);
    background-size: cover;
    
}
.reservation-section h1 {
    color: #fff;
}

.form-label {
    color: #fff;
}
.form-btn {
    border: 1px solid var(--primary);
    color: var(--primary);
}
.form-btn:hover {
    background-color: var(--primary);
    color: #fff;
}

/* our team section */

.our-team-section .hr {
    width: 30px;
}

/* experience section */

.experience-section {
    background: url(../images/ban2.jpg);
    background-size: cover;
}

.experience-section .counter {
    color: var(--primary);
}

/* our-gallery section */

.gallery-nav-bar a {
    color: #999999;
    text-decoration: none;
}

.gallery-nav-bar a:hover {
    color: var(--primary);
}
.gallery-nav-bar a.active {
    color: var(--primary) !important;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}
.gallery-item img {
    transition: 0.5s;
}

.gallery-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.gallery-overlay h5 {
    color: var(--primary);
    
}
.gallery-item:hover .gallery-overlay {
    opacity: 1;
    
}
.gallery-item:hover img {
    transform: scale(1.5);
}

/* footer section */
.get-in-touch-section {
    background: url(../images/ban3.jpg);
}

.get-in-touch-section h2 {
    color: #fff;
}

.get-in-touch-section span {
    color: var(--primary);
}
.get-in-touch-section .send-btn {
    background-color: 1px solid #e5e5e5;
}
.get-in-touch-section .send-btn:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;

}
.btn-social-icon i {
    color: #999999;
}
.btn-social-icon:hover {
    background-color: var(--primary);
}

/* footer bottom section */
.footer-bottom-section a {
    text-decoration: none;
}