:root {
    
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar-section {
    background-color: #000 !important;
    color: #999999;
    height: auto;
    
}

.nav-link {
    text-decoration: none !important;
    
}



  


